body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

 header,
 .dark,
 footer {
    width: 1200px;
    height: auto;
    background-color: #1f2937;
    color: #f9faf8;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    top: 0px;
}

.header-logo {
    font-size: 26px;
    margin-left: 110px;
    display: flex;
    margin-top: 30px;
    font-weight: bold;
}

.headerlist li {
    display: inline;
    margin-left: 8px;
}

.headerlist li a {
    color: #e5e7eb;
    font-size: 15px;
    text-decoration: none;
}

.headerlist {
    margin-right: 110px;
    margin-top: 38px;
    margin-left: 10px;
}

.top-dark-left {
    flex-direction: column;
}

.top-dark-right {
    justify-content: right;
}

.boldextra {
    width: 450px;
    font-size: 38px;
    font-weight: bolder;
    display: flex;
    margin-left: 110px;
    margin-top: 70px;
}

.text {
    width: 500px;
    margin-left: 110px;
    margin-top: 20px;
}

.signup {
    background-color: #3882F6;
    color: #e5e7eb;
    text-align: center;
    border-radius: 7px;
    padding: 6px 10px 6px; 
    
}

.button {
    margin-top: 10px;
    margin-left: 110PX;
    margin-bottom: 40px;
}

.imgplace {
    width: 400px;
    height: 180px;
    background-color: #8e8e8e;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-right: 110px;
    margin-bottom: 120px;
}

.random, 
.box,
.white-box {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    color: #1f2937;
    display: flex;
}

.random.info {
    width: 1120px;
    font-size: 36px;
    font-weight: bold;
    justify-content: center;
    padding: 40px;
}

.box {
    width: 1200px;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.box1,
.box2,
.box3,
.box4 {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-radius: 15px;
    border-color: #3882F6;
    border-width: 3px;
}

.b1,
.b2,
.b3,
.b4 {
    display: flex;
    flex-direction: column;
}

.boxtext {
    width: 150px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
}

.grey-box {
    width: 880px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #E5E7EB;
    font-size: 25px;
    font-style: italic;
    display: flex;
    padding: 110px 160px 110px;
}

.author {
    font-weight: bold;
    text-align: end;
    margin-top: 15px;
}

.white-box{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-box {
    width: 500px;
    background-color: #3882F6;
    padding: 30px;
    margin: 60px;
    color: #f9faf8;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.blueboxtext,
.blueboxtext2 {
    margin-left: 20px;
    align-items: center;
}

.button2 {
    background-color: #3882F6;
    color: #e5e7eb;
    text-align: center;
    border-style: solid;
    border-radius: 7px;
    border-color: #E5E7EB;
    padding: 6px 9px 6px; 
    margin-right: 20px;
}

 footer {
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 10px;
    
}

